@use "sass:math";
@use "variables" as variables;
@use "functions" as functions;
//こちらに使用するmixinを格納してください。

@mixin contentPC{
  @media (min-width:#{variables.$pc_wrapper + 1}){
    @content;
  }
}
@mixin contentSP{
  @media (max-width:variables.$pc_wrapper){
    @content;
  }
}

@mixin fsize($fSize: 16) {
  font-size: #{math.div(math.div($fSize, 750) * functions.stripUnit(variables.$pc_wrapper), 16)}rem;
  @include contentSP{
    font-size: #{math.div(math.div($fSize, 2), 16)}rem;
  }
}

@mixin fbold {
  //font-weight:700;
  font-weight:900;
}

@mixin hopacity {
  text-decoration:none;
  @include contentPC{
    transition:opacity .2s;
    &:hover{
      opacity:.8;
    }
  }
}

@mixin per-mergin($margin) {
  $margin-value: $margin * (100% / $base-width);
  margin: $margin-value;
}
