<%
var dir = './../';
var params = {};include(dir + 'includes/_data', {params: params});
params.body_class = 'page--top';
params.page_title = '';
params.page_description = '';
params.page_url = '';

%>
<%- include(dir + 'includes/_header', {params: params}) %>
<%- include(dir + 'includes/_header_content', {params: params}) %>


<main>
  <div id="webgl"></div>
</main>


<%- include(dir + 'includes/_footer_content', {params: params}) %>
<%- include(dir + 'includes/_footer', {params: params}) %>